.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  'header'
  'image'
  'profile'
  'resume'
  'aboutme'
  'projects'
  'contact'
}

.header {
  grid-area: header;
  background: green;
}


.images {
  grid-area: image;
  background-image: url('../images/jokull.jpg') ;
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  background-size: 100%;
  min-height: 700px;
}

.resume {
  grid-area: resume;
  min-height: 125px;
  background-color: blueviolet;
}

.aboutme {
  grid-area: aboutme;
  background-color: aquamarine;
}


.projects {
  grid-area: projects;
  background-color: darkgreen;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: ".... info  ....";
}

.projects-info {
  grid-area: info;
  img {
    height: 230px;
    width: 350px;
  }
 }

.contact {
  grid-area: contact;
  background-color: crimson;
}