---
title: Welcome to Agnes
---

.wrapper
  .header.py-6
    .flex.items-center.justify-between.mx-auto.px-4
      .name
        %h1 Agnes
      .links
        %ul.flex.items-center.list-reset
          %li.m-4
            %a.no-underline.text-white.hover:text-black{href: "#"} About me
          %li.m-4
            %a.no-underline.text-white.hover:text-black{href: "#"} Projects
          %li.m-4
            %a.no-underline.text-white.hover:text-black{href: "#"} Contact


  .images
    -#%img{src: 'images/'}
    %h3 Agnes Konradsdottir

  .resume.flex.justify-between
    %p Are you recruiting? You'r welcome to take a look at my resume
    %button.resume View Resume


  .aboutme
    %h3 Who am I
    - data.me.each do |me|
      %h3= me[:description]

  .projects
    %h3 What have I done
    .projects-info
      - data.projects.each do |project|
        %img{src: project[:image]}



  .contact
    %h3 where am I