---
title: Welcome to Agnes
---

.wrapper
  .header
    .name
      %h1 Agnes
    .links
      %h3 About me    Projects    Contact

  .images
    %img{src: "images/prufa.jpeg"}

  .resume
    %h3 Resume


  .aboutme
    %h3 Who am I


  .projects
    %h3 What have I been doing


  .contact
    %h3 where am I